h1, .h1 {
	margin-bottom: 1rem;
	font-size: 2rem;
}
h2, .h2 {
  font-size: 1.5rem; }

h3, .h3 {
  font-size: 1.3rem; }

h4, .h4 {
  font-size: 1rem; }

h5, .h5 {
  font-size: 0.8rem; }

h6, .h6 {
  font-size: 0.6rem; }

.fp-middle {
	background: $main-color;
}

.fp-top {
	background: $main-light-color;
}

.page-header, .entry-title, .sidebar {
	padding-top:20px;
}