.banner {
	padding: 20px;
	background-color: black;	
}

/*.content{
	padding-top: 20px;
}*/

.brand {
	font-size: 25px;
	font-weight: bold;
	color: white;
}

.widget {
	padding:10px;
}

a {
	&:hover{
		color: $main-dark-color;
	}
	color: $main-color;
}
header {
	a {
		&:hover{
			color:$main-color;
			text-decoration: none;
		}
	}
	nav{
		//margin-top:10px;
    float:right;
	}
}

/*
.slicknav_menu {
	//display:none;
}

@media screen and (max-width: 992px) {	
	.nav-primary {
	//display:none;
	}

	.slicknav_menu {
	//display:block;
	}
}

*/


.gist .blob-code-inner {
    font-size: 18px !important;
}

/*------------------------------------*\
    #PRIMARY-MENU
\*------------------------------------*/


/*
$red: red;
$green: green;
$blue: blue;
$orange: orange;
$purple: purple;
$black: black;
$nav-hover: #17a2b8;

.nav-primary{  
  height: 40px;
	float:right;
  overflow: hidden;
	
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li{
    float: left;
    margin-left: 1em;
    a{
      display: block;
      text-decoration: none;
      background: $main-color;
      color: white;
      padding: .5em;
      &:hover{
        background: $orange;
      }
    }
  }
  li ul{
    width: 8em;
    display: none;
    background: $blue;
    }
  li:hover ul{
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    border-top: 0px solid white;
   }
  li:hover li{
    float: none;
    padding: 0;
    margin: 0;
    a{
     background:$main-color;
     border-bottom: 1px solid white;
    }
  }
  li:hover li a:hover{
    background: $main-color;
  }
}
*/