.banner {
	padding: 20px;
	background-color: black;	
}

.content{
	padding-top: 20px;
}

.brand {
	font-size: 25px;
	font-weight: bold;
	color: white;
}

.widget {
	padding:10px;
}

a {
	color: #17a2b8;
}

